# macOS
.DS_Store

# Environment / secrets
.env
.env.*
appsettings.Development.json

# .NET build output
bin/
obj/

# IDE / editors
.vs/
.vscode/
.idea/

# User-specific files
*.user
*.suo
*.userprefs

# Logs
*.log

# Windows rommel
Thumbs.db

uitleg.txt

/docx